<div class="buttons free_checkout">
  <div class="pull-right">
    <input type="button" data-continue="{{ continue }}" value="{{ button_confirm }}" id="button-confirm" class="button button--primary" data-loading-text="{{ text_loading }}" />
  </div>
</div>

