<div class="section hero">
    <div class="row">
        <div class="col-xl-8">
            <a href="#" class="hero__el hero__el--1">
                <span class="hero__el-title">Только вы знаете что лучше для вашей кожи!</span>
                <span class="hero__el-text">Никто не знает ваше тело так как вы сами! Именно поэтому мы создали конструктор косметики который сможет на 100% удовлетворить потребности только вашей кожи! </span>
                <span class="button button--main button--arrow">Создать средство</span>
                <img
                        {#                     src="img/home/heroImg1.png"#}
                        src="catalog/view/theme/makeme/image/home/heroImg1.png"
                        data-srcset="
                    img/home/heroImg1.png 767w,
                    img/home/heroImg2@2x.png 1199w,
                    img/home/heroImg1@3x.png 1920w
                  "
                        alt="#"
                        class="lazy hero__el-img"
                >
            </a>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-xl-12 col-md-6">
                    <a href="#" class="hero__el hero__el--2">
                        <span class="hero__el-title">Довертесь нашим экспертам</span>
                        <span class="hero__el-readMore">Выбрать готовое средство</span>
                        <img
                                src="catalog/view/theme/makeme/image/home/heroImg2.png"
                                data-srcset="
                        img/home/heroImg2.png 767w,
                        img/home/heroImg2@2x.png 1199w,
                        img/home/heroImg2@3x.png 1920w
                      "
                                alt="#"
                                class="lazy hero__el-img"
                        >
                    </a>
                </div>
                <div class="col-xl-12 col-md-6">
                    <a href="#" class="hero__el hero__el--3">
                        <span class="hero__el-title">Мы научим Вас создавать косметику</span>
                        <span class="hero__el-readMore">Читать наши советы </span>
                        <img
                                src="catalog/view/theme/makeme/image/home/heroImg3.png"
                                data-srcset="
                        img/home/heroImg3.png 767w,
                        img/home/heroImg3@2x.png 1199w,
                        img/home/heroImg3@3x.png 1920w
                      "
                                alt="#"
                                class="lazy hero__el-img"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="owl-carousel ticker">
    <span class="ticker__el">Нет парабенов</span>
    <span class="ticker__el">натуральные компоненты</span>
    <span class="ticker__el">Нет химии</span>
    <span class="ticker__el">Современная лаборатория</span>
    <span class="ticker__el">Нет парабенов</span>
    <span class="ticker__el">натуральные компоненты</span>
    <span class="ticker__el">Нет химии</span>
    <span class="ticker__el">Современная лаборатория</span>
</div>