{#{% if modules %}#}
{#<aside id="column-left" class="col-sm-3 hidden-xs">#}
{#  {% for module in modules %}#}
{#  {{ module }}#}
{#  {% endfor %}#}
{#</aside>#}
{#{% endif %}#}
{% if modules %}
<div class="col-xl-3 col-lg-4 col-sm-3 hidden-xs">
    <div class="productFilters__bg productFilters--toggle"></div>
    <aside class="productFilters">
        {% for module in modules %}
            {{ module }}
        {% endfor %}
    </aside>
</div>
{% endif %}