{#{% if modules %}#}
{#<aside id="column-left" class="col-sm-3 hidden-xs">#}
{#  {% for module in modules %}#}
{#  {{ module }}#}
{#  {% endfor %}#}
{#</aside>#}
{#{% endif %}#}
{% if modules %}
<div class="col-xl-3 col-lg-4 col-sm-3 hidden-xs">
    <div class="productFilters__bg productFilters--toggle"></div>
    <aside class="productFilters">
        {% for module in modules %}
            {{ module }}
        {% endfor %}

{#        <div class="productFilters__close productFilters--toggle"></div>#}
{#        <div class="productFilters__el">#}
{#            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el4" aria-expanded="true">#}
{#                НАЗВАНИЕ#}
{#            </button>#}
{#            <div class="collapse productFilters__el-collapse show" id="productFilters__el4">#}
{#                <div class="productFilters__el-body">#}
{#                    <input type="text" class="textInput" placeholder="Введите название средства">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="productFilters__el">#}
{#            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el3" aria-expanded="true">#}
{#                Цена#}
{#            </button>#}
{#            <div class="collapse productFilters__el-collapse show" id="productFilters__el3">#}
{#                <div class="productFilters__el-body">#}
{#                    <div class="priceInputs">#}
{#                        <input type="text" class="textInput number" placeholder="0">#}
{#                        <span class="priceInputs__line">-</span>#}
{#                        <input type="text" class="textInput number" placeholder="59999">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="productFilters__el">#}
{#            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el1" aria-expanded="true">#}
{#                Основные фильтры#}
{#            </button>#}
{#            <div class="collapse productFilters__el-collapse show" id="productFilters__el1">#}
{#                <div class="productFilters__el-body">#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input" checked>#}
{#                        <span class="checkboxEl__body">Выбор экспертов</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Выбор селебритис</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Выбор покупателей</span>#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="productFilters__el">#}
{#            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el2" aria-expanded="true">#}
{#                ГРУППА ТОВАРОВ#}
{#            </button>#}
{#            <div class="collapse productFilters__el-collapse show" id="productFilters__el2">#}
{#                <div class="productFilters__el-body">#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input" checked>#}
{#                        <span class="checkboxEl__body">Шампунь</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Крем для лица</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Бальзам</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Гель для душа</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Скраб для тела</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Маска для лица</span>#}
{#                    </label>#}
{#                    <label class="checkboxEl">#}
{#                        <input type="checkbox" class="checkboxEl__input">#}
{#                        <span class="checkboxEl__body">Мыло</span>#}
{#                    </label>#}
{#                    <div class="productFilters__el-innerCollapse">#}
{#                        <button class="link1 productFilters__el-innerCollapse-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el-innerCollapse1" aria-expanded="false">#}
{#                            Показать все#}
{#                        </button>#}
{#                        <div class="collapse productFilters__el-innerCollapse-collapse" id="productFilters__el-innerCollapse1">#}
{#                            <label class="checkboxEl">#}
{#                                <input type="checkbox" class="checkboxEl__input">#}
{#                                <span class="checkboxEl__body">Шампунь</span>#}
{#                            </label>#}
{#                            <label class="checkboxEl">#}
{#                                <input type="checkbox" class="checkboxEl__input">#}
{#                                <span class="checkboxEl__body">Шампунь</span>#}
{#                            </label>#}
{#                            <label class="checkboxEl">#}
{#                                <input type="checkbox" class="checkboxEl__input">#}
{#                                <span class="checkboxEl__body">Шампунь</span>#}
{#                            </label>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="productFilters__el">
            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el31" aria-expanded="true">
                По назначению средства
            </button>
            <div class="collapse productFilters__el-collapse show" id="productFilters__el31">
                <div class="productFilters__el-body">
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input" checked>
                        <span class="checkboxEl__body">Для волос</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Для лица</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Для тела</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="productFilters__el">
            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el41" aria-expanded="true">
                По типу кожи для лица
            </button>
            <div class="collapse productFilters__el-collapse show" id="productFilters__el41">
                <div class="productFilters__el-body">
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input" checked>
                        <span class="checkboxEl__body">Нормальная и комбинированная</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Жирная</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Сухая</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Зрелая</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="productFilters__el">
            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el5" aria-expanded="true">
                По типу кожи тела
            </button>
            <div class="collapse productFilters__el-collapse show" id="productFilters__el5">
                <div class="productFilters__el-body">
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input" checked>
                        <span class="checkboxEl__body">Нормальная</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Жирная</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Сухая</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Зрелая</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="productFilters__el">
            <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el6" aria-expanded="true">
                По типу волос
            </button>
            <div class="collapse productFilters__el-collapse show" id="productFilters__el6">
                <div class="productFilters__el-body">
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input" checked>
                        <span class="checkboxEl__body">Нормальные</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Сухие</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Жирные</span>
                    </label>
                    <label class="checkboxEl">
                        <input type="checkbox" class="checkboxEl__input">
                        <span class="checkboxEl__body">Окрашенные</span>
                    </label>
                </div>
            </div>
        </div>
    </aside>
</div>
{% endif %}