{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Блог</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">А как же поцелуи? Боремся с летними проблемами губ ради ослепительной улыбки и не только.</span>
                        <meta itemprop="position" content="3">
                    </a>
                </li>
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>

        <section class="section">
            <div class="d-lg-none d-block">
                <h1 class="section__title text-md-left text-center">Блог</h1>

                <nav class="aboutComponents__nav">
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--advice active">Советы</a>
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--recipes">Рецепты</a>
                    <a href="#" class="aboutComponents__nav-el aboutComponents__nav-el--news">Новости</a>
                </nav>
            </div>
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="blogArticle">
                        <h1 class="section__subtitle">А как же поцелуи? Боремся с летними проблемами губ ради ослепительной улыбки и не только.</h1>
                        <div class="blogItem__desc-header">
                            <span class="blogItem__type blogItem__type--advice">СОВЕТЫ</span>
                            <span class="blogItem__date">08.10.2021 10:10</span>
                        </div>
                        <p class="blogArticle__text">Любишь ухоженные, мягкие и сияющие губки, но тебе не нравится, когда из-за нанесенного блеска к ним прилипают пряди волос? Эта летняя бьюти-проблема портит настроение не только тебе. Ведь теплая пора с частым загаром, купанием и… да-да, поцелуями – настоящее испытание для нашей улыбки. Вот самые распространенные летние вызовы нашим губам:
                        </p>
                        <ul class="blogArticle__list">
                            <li class="blogArticle__list-el">Сухость и истончение. Зной и жара обезвоживают нежную кожу, превращая губки из лепестков роз в увядшие листочки.</li>

                            <li class="blogArticle__list-el">Шелушение и мелкие ранки. Плавание в море, холодные напитки, эксперименты с новыми модными помадами вредят гладкости и шелковистости наших губ.</li>

                            <li class="blogArticle__list-el">Заеды и трещинки. Жесткие диеты вызывают авитаминоз, что пагубно сказывается на чувствительной к любым переменам коже губ.</li>
                        </ul>
                        <div class="blogArticle__imgContainer">
                            <img src="catalog/view/theme/makeme/image/girl.jpg" alt="#" class="lazy blogArticle__img">
                        </div>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».<br>
                            Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                        <h2 class="blogArticle__title">Как ухаживать за губами?</h2>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                        <div class="blogArticle__imgContainer">
                            <img src="catalog/view/theme/makeme/image/kiss.jpg" data-srcset="catalog/view/theme/makeme/image/kiss.jpg 767w, catalog/view/theme/makeme/image/kiss@2x.jpg 1199w, catalog/view/theme/makeme/image/kiss@3x.jpg 1920w"  alt="#" class="lazy blogArticle__img">
                        </div>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                        <div class="blogArticle__el blogArticle__el--reverse">
                            <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                            <div class="blogArticle__el-imgContainer">
                                <img src="catalog/view/theme/makeme/image/lips1.jpg" data-srcset="catalog/view/theme/makeme/image/lips1.jpg 767w, catalog/view/theme/makeme/image/lips1@2x.jpg 1199w, catalog/view/theme/makeme/image/lips1@3x.jpg 1920w" alt="#" class="lazy blogArticle__el-img">
                            </div>
                        </div>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                        <div class="blogArticle__el">
                            <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                            <div class="blogArticle__el-imgContainer">
                                <img src="catalog/view/theme/makeme/image/lips2.jpg" data-srcset="catalog/view/theme/makeme/image/lips2.jpg 767w, catalog/view/theme/makeme/image/lips2@2x.jpg 1199w, catalog/view/theme/makeme/image/lips2@3x.jpg 1920w" alt="#" class="lazy blogArticle__el-img">
                            </div>
                        </div>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                        <div class="blogArticle__imgContainer">
                            <img src="catalog/view/theme/makeme/image/lips3.jpg" data-srcset="catalog/view/theme/makeme/image/lips3.jpg 767w, catalog/view/theme/makeme/image/lips3@2x.jpg 1199w, catalog/view/theme/makeme/image/lips3@3x.jpg 1920w" alt="#" class="lazy blogArticle__img">
                        </div>

                        <h2 class="blogArticle__title">Наш совет:</h2>
                        <p class="blogArticle__text">Но это не значит, что нужно сказать нет солнечному пляжу или прекратить наносить стильный макияж. Напротив, именно онлайн-лаборатория натуральной косметики HANDY поможет тебе привести губки в готовность номер один к поцелуям: главное, правильно выбрать средство по уходу за «местами для поцелуев».</p>
                    </div>
                    <aside class="blogArticleFooter">
                        <div class="blogArticleFooter__like">
                            <p class="blogArticleFooter__title">Понравилась статья?</p>
                            <div class="blogArticleFooter__like-body">
                                <label class="like">
                                    <input type="checkbox" class="like__input">
                                    <span class="like__body"></span>
                                </label>
                                <span class="blogArticleFooter__like-quantity">6</span>
                            </div>
                        </div>
                        <div class="blogArticleFooter__socials">
                            <p class="blogArticleFooter__title">Поделись статьей:</p>
                            <div class="blogArticleFooter__socials-body">
                                <a href="#" class="blogArticleFooter__socials-el"><i class="fab fa-facebook"></i></a>
                                <a href="#" class="blogArticleFooter__socials-el"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                    <div class="usefulArticles">
                        <h2 class="section__subtitle">Полезные статьи:</h2>
                        <div class="blogItem">
                            <a class="blogItem__imgContainer" href="#">
                                <img src="catalog/view/theme/makeme/image/blog1.jpg"
                                     data-srcset="
                    catalog/view/theme/makeme/image/blog1.jpg 767w,
                    catalog/view/theme/makeme/image/blog1@2x.jpg 1199w,
                    catalog/view/theme/makeme/image/blog1@3x.jpg 1920w
                  "   alt="#" class="lazy blogItem__img">
                            </a>
                            <div class="blogItem__desc">
                                <div class="blogItem__desc-header">
                                    <span class="blogItem__type blogItem__type--advice">СОВЕТЫ</span>
                                    <time class="blogItem__date" datetime="2021-04-26">26 апреля 2021</time>
                                </div>
                                <p class="blogItem__text border-0 mb-0 pb-0"><a href="#">Тоник для жирной кожи с экстрактом лаванды и мяты</a></p>
                            </div>
                        </div>
                        <div class="blogItem">
                            <a class="blogItem__imgContainer" href="#">
                                <img src="catalog/view/theme/makeme/image/blog1.jpg"
                                     data-srcset="
                    catalog/view/theme/makeme/image/blog1.jpg 767w,
                    catalog/view/theme/makeme/image/blog1@2x.jpg 1199w,
                    catalog/view/theme/makeme/image/blog1@3x.jpg 1920w
                  "   alt="#" class="lazy blogItem__img">
                            </a>
                            <div class="blogItem__desc">
                                <div class="blogItem__desc-header">
                                    <span class="blogItem__type blogItem__type--news">НОВОСТИ</span>
                                    <time class="blogItem__date" datetime="2021-04-26">26 апреля 2021</time>
                                </div>
                                <p class="blogItem__text border-0 mb-0 pb-0"><a href="#">Тоник для жирной кожи с экстрактом лаванды и мяты</a></p>
                            </div>
                        </div>
                        <div class="blogItem">
                            <a class="blogItem__imgContainer" href="#">
                                <img src="catalog/view/theme/makeme/image/blog1.jpg"
                                     data-srcset="
                    catalog/view/theme/makeme/image/blog1.jpg 767w,
                    catalog/view/theme/makeme/image/blog1@2x.jpg 1199w,
                    catalog/view/theme/makeme/image/blog1@3x.jpg 1920w
                  "   alt="#" class="lazy blogItem__img">
                            </a>
                            <div class="blogItem__desc">
                                <div class="blogItem__desc-header">
                                    <span class="blogItem__type blogItem__type--advice">СОВЕТЫ</span>
                                    <time class="blogItem__date" datetime="2021-04-26">26 апреля 2021</time>
                                </div>
                                <p class="blogItem__text border-0 mb-0 pb-0"><a href="#">Тоник для жирной кожи с экстрактом лаванды и мяты</a></p>
                            </div>
                        </div>
                        <h2 class="section__subtitle mt-4">Создай свое:</h2>
                        <div class="blogItem">
                            <a class="blogItem__imgContainer" href="#">
                                <img src="catalog/view/theme/makeme/image/blog1.jpg"
                                     data-srcset="
                    catalog/view/theme/makeme/image/blog1.jpg 767w,
                    catalog/view/theme/makeme/image/blog1@2x.jpg 1199w,
                    catalog/view/theme/makeme/image/blog1@3x.jpg 1920w
                  "   alt="#" class="lazy blogItem__img">
                            </a>
                            <div class="blogItem__desc">
                                <p class="blogItem__text border-0 mb-0 pb-0"><a href="#">Создай свое й средство в онлайн лабаратории</a></p>
                                <a href="#" class="button button--stroke button--small">Создать средство</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <aside class="section createYours">
            <div class="createYours__title">Создай <span class="color-primary">свое!</span></div>
            <p class="createYours__text">Вместе с тобой мы создадим неповторимую косметику именно для тебя! Каждая баночка на 100% индивидуальна.</p>
            <a href="#" class="button button--stroke createYours__button">Создать средство</a>
        </aside>

        <section class="section seoText">
            <h2 class="section__title">Как создать косметику для себя</h2>
            <p class="seoText__text">У нас можно купить косметику для волос и лица. В магазине есть продукты для восстановления повреждённых волос, а также средства для людей с проблемной кожей головы (жирная кожа, выпадение волос, перхоть). Приобретя в магазине данные средства, Ваши волосы приобретут блеск, станут эластичными, а также будут иметь вновь здоровый вид. Ассортимент магазина насколько разнообразный, что даже самые требовательные покупатели смогут подобрать для себя косметику класса люкс и обязательно останутся довольные приобретением.</p>
            <div class="collapse" id="seoText__collapse">
                <p class="seoText__text">
                    У нас можно купить косметику для волос и лица. В магазине есть продукты для восстановления повреждённых волос, а также средства для людей с проблемной кожей головы (жирная кожа, выпадение волос, перхоть). Приобретя в магазине данные средства, Ваши волосы приобретут блеск, станут эластичными, а также будут иметь вновь здоровый вид. Ассортимент магазина насколько разнообразный, что даже самые требовательные покупатели смогут подобрать для себя косметику класса люкс и обязательно останутся довольные приобретением.
                </p>
            </div>
            <a data-toggle="collapse" href="#seoText__collapse" aria-expanded="false" class="link1 seoText__link">Показать все</a>
        </section>
    </div>
</main>
{{ footer }}