{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Личный кабинет</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>

            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section lk">
            <h1 class="section__title">Личный кабинет</h1>
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <aside class="lk__nav">
                        <div class="lk__nav-user">
                            <label class="lk__nav-user-avatar">
                                <input type="file" class="lk__nav-user-avatar-input">
                                <span class="lk__nav-user-avatar-body"></span>
                            </label>
                            <span class="lk__nav-user-info">
                    <span class="lk__nav-user-name">Мария Дмитриенко </span>
                    <a href="#" class="lk__nav-user-email">Hello@gmail.com</a>
                  </span>
                        </div>
                        <nav class="lk__menu">
                            <a href="#" class="lk__menu-el lk__menu-el--info active">
                                <span class="lk__menu-el-text">Личная информация</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--club">
                                <span class="lk__menu-el-text">MM Club</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--desires">
                                <span class="lk__menu-el-text">Список желаний</span>
                                <span class="lk__menu-el-new">3</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--address">
                                <span class="lk__menu-el-text">Мои адреса</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--history">
                                <span class="lk__menu-el-text">История заказов</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--recipes">
                                <span class="lk__menu-el-text">Мои рецепты</span>
                            </a>
                            <a href="#" class="lk__menu-el lk__menu-el--exit">
                                <span class="lk__menu-el-text">Выход</span>
                            </a>
                        </nav>
                    </aside>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="lk__body">
                        <div class="contentBlock lk__info">
                            <h2 class="lk__body-title">Личные и контактные данные</h2>
                            <form action="#" class="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form__field">
                                            <label class="form__label">Имя</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input" value="Мария">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Фамилия</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input" value="Дмитриенко">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Отчество</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Телефон</label>
                                            <div class="form__field-body">
                                                <input type="tel" class="form__field-input" value="+38 067 566 34 56">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Дата рождения</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input birthday" value="08.09.1993">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form__field">
                                            <label class="form__label">Email</label>
                                            <div class="form__field-body">
                                                <input type="email" class="form__field-input form__field-input--password" value="Hello123456@gmail.com" readonly>
                                                <span class="form__field-edit" data-toggle="modal" data-target="#modalChangeEmail"></span>
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Пароль</label>
                                            <div class="form__field-body">
                                                <input type="password" class="form__field-input form__field-input--password" value="1234567890" readonly>
                                                <span class="form__field-passwordShow d-xl-flex d-none"></span>
                                                <span class="form__field-edit" data-toggle="modal" data-target="#modalChangePassword"></span>
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Город</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input">
                                            </div>
                                        </div>
                                        <div class="form__field">
                                            <label class="form__label">Адрес</label>
                                            <div class="form__field-body">
                                                <input type="text" class="form__field-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="button button--primary form__submit">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
{{ footer }}