<div class="modal fade modalLogin modalReg" id="modalPasswordNew">
    <div class="modal-dialog">
        <form action="#" class="modal-content">
            <span data-dismiss="modal" class="modal__close"></span>
            <div class="modalLogin__body">
                <div class="modalLogin__body-col border-0">
                    <h3 class="section__title">Восстановление пароля</h3>
                    <p class="modalLogin__anotherWay text-left">
                        Введите почту, на которую мы вышлем Вам ссылку для восстановления пароля
                    </p>
                    <div class="form__field">
                        <label class="form__label">Email</label>
                        <div class="form__field-body">
                            <input type="email" class="form__field-input" name="emailInput">
                        </div>
                    </div>
                    <div class="modalLogin__nav">
                        <button class="button button--primary button--small" type="button">Восстановить пароль</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
    });
</script>