<div class="modal fade modalLogin modalReg" id="modalReg">
  <div class="modal-dialog">
    <form action="#" class="modal-content">
      <span data-dismiss="modal" class="modal__close"></span>
      <div class="modalLogin__body">
        <div class="modalLogin__body-col border-0">
          <h3 class="section__title">Регистрация</h3>
          <p class="modalLogin__anotherWay text-left">
            Уже есть аккаунт?
            <a href="#" class="modalLogin__anotherWay-link">Войти</a>
          </p>
          <div class="form__field">
            <label class="form__label">Ваше имя</label>
            <div class="form__field-body">
              <input type="text" class="form__field-input" name="nameInput">
            </div>
          </div>
          <div class="form__field">
            <label class="form__label">Email</label>
            <div class="form__field-body">
              <input type="email" class="form__field-input" name="emailInput">
            </div>
          </div>
          <div class="form__field">
            <label class="form__label">Пароль</label>
            <div class="form__field-body">
              <input type="password" class="form__field-input form__field-input--password" name="passowordInput1">
              <span class="form__field-passwordShow"></span>
            </div>
          </div>
          <div class="form__field">
            <label class="form__label">Продублируйте пароль</label>
            <div class="form__field-body">
              <input type="password" class="form__field-input form__field-input--password" name="passowordInput2">
              <span class="form__field-passwordShow"></span>
            </div>
          </div>
          <div class="modalLogin__nav">
            <button class="button button--primary button--small" type="button">Зарегистрироваться</button>
            <span class="modalLogin__nav-text">Нажимая кнопку «Зарегистрироваться», <br> я принимаю условия <a href="#">Пользовательского соглашения</a></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>