<aside class="section createYours">
    <div class="createYours__title">{{ banners|first.title }}</div>
    <p class="createYours__text">{{ banners|first.text }}</p>
    <a href="{{ banners|first.link }}" class="button button--stroke createYours__button">{{ banners|first.button }}</a>
</aside>