<div class="modal fade modalBasket" id="modalBasket">
    <div class="modal-dialog">
        <div class="modal-content">
            <span data-dismiss="modal" class="modal__close"></span>
            <h3 class="section__subtitle ">В корзине 2 товара</h3>
            <div class="basket basket--aside pt-0">
                <div class="lk__order-products">
                    <div class="lk__order-product">
                        <div class="lk__recipes-product-main">
                            <div class="lk__recipes-product-imgContainer">
                                <img src="img/shampoo.png" alt="#" class="lazy lk__recipes-product-img">
                            </div>
                            <div class="lk__recipes-product-main-body">
                                <h3 class="lk__recipes-product-title">Молочко для тела </h3>
                                <p class="lk__recipes-product-text">Базовый крем для сухой кожи лица, Экстракт кокоса, Экстракт дыни,Экстракт шалфея, Эфирное масло черного перца.</p>
                            </div>
                        </div>
                        <div class="lk__order-additionalEls">
                            <div class="quantityEl">
                                <button type="button" class="quantityEl__minus">-</button>
                                <input type="number" value="1" min="1" max="1000" class="quantityEl__input">
                                <button type="button" class="quantityEl__plus">+</button>
                            </div>
                            <div class="lk__order-price"><span class="lk__order-price-value" data-value="237">237</span>₴</div>
                            <div class="productCard__remove"></div>
                        </div>
                    </div>
                    <div class="lk__order-product">
                        <div class="lk__recipes-product-main">
                            <div class="lk__recipes-product-imgContainer">
                                <img src="img/shampoo.png" alt="#" class="lazy lk__recipes-product-img">
                            </div>
                            <div class="lk__recipes-product-main-body">
                                <h3 class="lk__recipes-product-title">Молочко для тела </h3>
                                <p class="lk__recipes-product-text">Базовый крем для сухой кожи лица, Экстракт кокоса, Экстракт дыни,Экстракт шалфея, Эфирное масло черного перца.</p>
                            </div>
                        </div>
                        <div class="lk__order-additionalEls">
                            <div class="quantityEl">
                                <button type="button" class="quantityEl__minus">-</button>
                                <input type="number" value="1" min="1" max="1000" class="quantityEl__input">
                                <button type="button" class="quantityEl__plus">+</button>
                            </div>
                            <div class="lk__order-price"><span class="lk__order-price-value" data-value="237">237</span>₴</div>
                            <div class="productCard__remove"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lk__order-sum-el sum">
                <span class="lk__order-sum-el-type">Общая стоимость:</span>
                <span class="lk__order-sum-el-value">660 ₴</span>
            </div>
            <button class="button button--primary button--small" type="button">перейти В козину</button>
        </div>
    </div>
</div>

<div class="modal fade modalBasketEmpty" id="modalBasketEmpty">
    <div class="modal-dialog">
        <div class="modal-content">
            <span data-dismiss="modal" class="modal__close"></span>
            <h3 class="section__subtitle"><span class="color-primary">Упс!</span> В твоей корзине пусто :( </h3>
            <p class="text--simple">Воспользуйся <a href="#" class="color-primary">Готовыми решениями</a> <br>или a <a href="#" class="color-primary"> Создай свое уникальное средство</a></p>
        </div>
    </div>
</div>