<div class="preloader">
    <div class="preloader__bubbles"></div>
    <img src="catalog/view/theme/makeme/image/icons/logoBig.svg" alt="logo" class="lazy preloader__logo">
    <img src="catalog/view/theme/makeme/image/icons/logoBig.svg" alt="logo" class="lazy preloader__logo">
    <video src="catalog/view/theme/makeme/video/preloaderDesktop.mp4" class="preloader__video preloader__video--desktop"
           autoplay loop muted></video>
    <video src="catalog/view/theme/makeme/video/preloaderMobile.mp4" class="preloader__video preloader__video--mobile"
           autoplay loop muted></video>
</div>