<div class="modal fade" id="modalChangeError">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <span data-dismiss="modal"  class="modal__close"></span>
            <img src="catalog/view/theme/makeme/image/icons/lk/modalNoCheck.svg" alt="#" class="lazy modal-icon">
            <div class="section__title">Упс...</div>
            <p class="text--grey">Кажется что-то пошло не так. Проверь введенные данные снова.</p>
            <button class="button button--primary w-100" data-dismiss="modal">ОК</button>
        </div>
    </div>
</div>