<div class="modal fade" id="modalChangePasswordSuccess">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <span data-dismiss="modal"  class="modal__close"></span>
            <img src="catalog/view/theme/makeme/image/icons/lk/modalCheck.svg" alt="#" class="lazy modal-icon">
            <div class="section__title">Отлично!</div>
            <p class="text--grey">Все получилось! Твой пароль успешно изменен!</p>
            <button class="button button--primary w-100" data-dismiss="modal">ОК</button>
        </div>
    </div>
</div>