<div class="modal fade" id="modalChangeEmail">
    <div class="modal-dialog">
        <div class="modal-content">
            <span data-dismiss="modal"  class="modal__close"></span>
            <div class="section__title">Сменить почту</div>
            <form action="#" class="form" name="emailForm">
                <div class="form__field">
                    <label class="form__label">Email</label>
                    <div class="form__field-body">
                        <input type="email" class="form__field-input" name="emailInput">
                    </div>
                </div>
                <div class="form__footer"><button class="button button--primary change_mail_button" type="button" data-dismiss="modal" >Сменить почту</button></div>

            </form>
        </div>
    </div>
</div>