<div class="modal fade" id="modalChangePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <span data-dismiss="modal"  class="modal__close"></span>
            <div class="section__title">Смена пароля</div>
            <form action="#" class="form" name="passwordForm">
                <div class="form__field">
                    <label class="form__label">Старый пароль</label>
                    <div class="form__field-body">
                        <input type="password" class="form__field-input form__field-input--password" name="passowordInput1">
                        <span class="form__field-passwordShow"></span>
                    </div>
                </div>
                <div class="form__field">
                    <label class="form__label">Новый пароль</label>
                    <div class="form__field-body">
                        <input type="password" class="form__field-input form__field-input--password" name="passowordInput2">
                        <span class="form__field-passwordShow"></span>
                    </div>
                </div>
                <div class="form__field">
                    <label class="form__label">Продублируйте пароль</label>
                    <div class="form__field-body">
                        <input type="password" class="form__field-input form__field-input--password" name="passowordInput3">
                        <span class="form__field-passwordShow"></span>
                    </div>
                </div>
                <div class="form__footer"><button class="button button--primary change_password_btn" type="button" >Сменить пароль</button>
                    <a href="#" data-dismiss="modal" class="forgetPass">Не помню пароль</a>
                </div>
            </form>
        </div>
    </div>
</div>