<div class="productFilters__el">
    <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el1" aria-expanded="true">
        Основные фильтры
    </button>
    <div class="collapse productFilters__el-collapse show" id="productFilters__el1">
        <div class="productFilters__el-body">
            <label class="checkboxEl">
                <input type="checkbox" class="checkboxEl__input" checked>
                <span class="checkboxEl__body">Выбор экспертов</span>
            </label>
            <label class="checkboxEl">
                <input type="checkbox" class="checkboxEl__input">
                <span class="checkboxEl__body">Выбор селебритис</span>
            </label>
            <label class="checkboxEl">
                <input type="checkbox" class="checkboxEl__input">
                <span class="checkboxEl__body">Выбор покупателей</span>
            </label>
        </div>
    </div>
</div>