<div class="productFilters__el">
    <button class="productFilters__el-toggle" type="button" data-toggle="collapse" data-target="#productFilters__el3" aria-expanded="true">
        Цена
    </button>
    <div class="collapse productFilters__el-collapse show" id="productFilters__el3">
        <div class="productFilters__el-body">
            <div class="priceInputs">
                <input type="text" class="textInput number" placeholder="0">
                <span class="priceInputs__line">-</span>
                <input type="text" class="textInput number" placeholder="59999">
            </div>
        </div>
    </div>
</div>