<div class="productFilters__close productFilters--toggle"></div>
<div class="productFilters__el">
    <button class="productFilters__el-toggle" type="button" id="button-search" data-toggle="collapse" data-target="#productFilters__el4" aria-expanded="true">
        НАЗВАНИЕ
    </button>
    <div class="collapse productFilters__el-collapse show" id="productFilters__el4">
        <div class="productFilters__el-body">
            <input
                    type="text"
                    class="textInput searchInput"
                    placeholder="Введите название средства"
                    value="{{ search }}"
            >
        </div>
    </div>
</div>
