{{ header }}
<main class="page-content">
    <div class="container">
        <nav class="page-breadcrumbs">
            <ul class="page-breadcrumbs__desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li class="page-breadcrumbs__el" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#" class="page-breadcrumbs__el-link">
                        <span itemprop="name">Корзина</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
            </ul>
            <a href="#" class="page-breadcrumbs__back">Назад</a>
        </nav>
        <section class="section checkout text-center">
            <h1 class="section__title">
                <span class="color-primary d-block">Упс!</span>
                В твоей корзине пусто :(</h1>

            <p class="text--simple mb-2">Воспользуйся</p>
            <a href="#" class="link4">Готовыми решениями</a>
            <p class="text--simple my-3">или</p>
            <a href="#" class="button button--primary button--small">Создать средство</a>


        </section>
        <section class="section">
            <div class="section__header d-flex align-items-center justify-content-between flex-wrap">
                <h2 class="section__title mr-4"><span class="color-primary">Популярные</span> товары</h2>
                <a href="#" class="showMore">Смотреть больше</a>
            </div>
            <div class="owl-carousel carousel-4els transparentProductCards">
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/buyer.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/cream.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--new">NEW</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/specialist.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано специалистами  <br> нашей лаборатории
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--hit">ХИТ ПРОДАЖ</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/buyer.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано покупателем <br> <span class="font-weight-bold">Мария Дмитриенко</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/cream.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--new">NEW</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/specialist.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано специалистами  <br> нашей лаборатории
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                        </div>
                    </div>
                </div>
                <div class="productCard">
                    <div class="productCard__feature productCard__feature--stock">-10%</div>
                    <div class="productCard__producer">
                <span class="productCard__producer-toggle">
                  <img src="img/icons/selebrity.svg" alt="#" class="lazy productCard__producer-icon">
                </span>
                        <p class="productCard__producer-text">
                            Средство создано селебрети <br> <span class="font-weight-bold">@mariia123_hello</span>
                        </p>
                    </div>
                    <a href="#" class="productCard__imgContainer">
                        <img src="img/shampoo.png" alt="#" class="lazy productCard__img">
                    </a>
                    <div class="productCard__body">
                        <div class="productCard__rating">
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el productCard__rating-el--full"></span>
                            <span class="productCard__rating-el"></span>
                        </div>
                        <a href="#" class="productCard__type">Молочко для тела</a>
                        <a href="#" class="productCard__name">Молочко для тела с ароматом розы и розмарина (750 мл)</a>

                        <div class="productCard__price">
                            <span class="productCard__price-actual">244 ₴</span>
                            <span class="productCard__price-old">344 ₴</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{{ footer }}