.aboutComponents {
  .section__title {

  }
  .row {
    margin-right: -10px;
    margin-left: -10px;
    & > * {
      padding: 0 10px;
    }
  }
  &__nav {
    display: flex;
    margin-bottom: 40px;
    overflow: auto;
    @media(max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__nav-el {
    flex-shrink: 0;
    color: $textColor1 !important;
    text-decoration: none !important;
    border-radius: 63px;
    padding: 12px 25px;
    background: white;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    &--all {
      &:hover, &:active {
        background: #D4E9C7;
      }
    }
    &--active {
      &:hover, &:active {
        background: #FFD7E3;
      }
    }
    &--extracts {
      &:hover, &:active {
        background: #FAB7A6;
      }
    }
    &--oils1 {
      &:hover, &:active {
        background: #CFE7FF;
      }
    }
    &--vitamins {
      &:hover, &:active {
        background: #FDAECE;
      }
    }
    &--oils2 {
      &:hover, &:active {
        background: #CFD0FE
      }
    }
    &--base {
      &:hover, &:active {
        background: #FDD4AE;
      }
    }
  }
  &__el {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 44px;
    text-decoration: none !important;
    height: calc(100% - 20px);
    @media(max-width: 575px) {
      margin-bottom: 10px;
      height: calc(100% - 10px);
    }
    &:hover {
      justify-content: flex-start;
      background: #CFE7FF;
      .aboutComponents__el-imgContainer {
        display: none;
      }
      .aboutComponents__el-text {
        display: flex;
      }
    }
  }
  &__el-imgContainer {
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: 40px;
  }
  &__el-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
  }
  &__el-name {
    font-weight: 600;
    color: $textColor1;
  }
  &__el-text {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
    color: $textColor1;
    display: none;
    
  }
}