.page-footer {
  background: $textColor2;
  font-weight: 600;
  padding-top: 60px;
  padding-bottom: 40px;
  &__logo {
    margin-bottom: 20px;
    display: flex;
    @media(max-width: 991px) {
      max-width: 210px;
    }

  }
  &__logo-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 500;
    max-width: 165px;
    margin-bottom: 32px;
    @media(max-width: 1199px) {
      max-width: 100%;
    }
  }
  &__menu {
    margin-bottom: 8px;
  }
  &__menu-el {
    color: white;
    display: flex;
    text-decoration: none !important;
    margin-bottom: 20px;
    &:hover {
      color: $colorPrimary;
    }
  }
  &__menu-info {
    color: white;
  }
  &__menu-info-el {
    margin-bottom: 22px;
  }
  &__menu-info-el-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__menu-info-el-value {
    color: white;
  }
  &__socials {

  }
  &__socials-el {
    margin-right: 16px;
    color: white;
    text-decoration: none !important;
    font-size: 24px;
    &:hover {
      color: $colorPrimary;
    }
    i {

    }
  }
}