.pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  &__el {
    height: 29px;
    min-width: 29px;
    color: $textColor2;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    margin: 0 6px;
    @media(max-width: 767px) {
      margin: 0 3px;
    }
    &:hover {
      background: rgba(175, 97, 209, 0.3);
      color: $textColor2;
    }
    &.active {
      background: $violet !important;
      color: white !important;

    }
  }
}